<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- starting header -->
    <header>
        <div class="nav-bar-container">
            <div class="nav-list">
                <h1>dashboard</h1>
                <ul>
                    <i></i>
                    <li><a href="#">Home</a></li>
                    <i></i>
                      <li><a href="#">Profile</a></li>
                      <i></i>
                        <li><a href="#">messages</a></li>
                        <i></i>
                        <li><a href="#">History</a></li>
                        <i></i>
                        <li><a href="#">Tasks</a></li>
                        <i></i>
                        <li><a href="#">Communication</a></li>
                </ul>
            </div>
            <div class="nav-header">
                <form action="search">
                   <button type="button" value="search">search</button>
                    <input type="text" value="search" placeholder="search it here "/>
                </form>
                <div class="logo">
                    <img src="Profile Pic.jpeg"/>
                    <p><em>Sohaib</em></p>
                    <p1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae, laudantium.</p1>
                </div>
                <div class="logo2">
                    <i></i>
                    <img src="#"/>
                    <h1>Sohaib</h1>
                </div>
                <div class="buttons">
                    <div class="button1">
                        <input type="button" value="name"/>
                    </div>
                    <div class="button2">
                        <input type="button" value="upload"/>
                    </div>
                    <div class="button3">
                        <input type="button" value="new"/>
                    </div>
            
                </div>
                </div>  
        </div>
      
    </header>
    <!-- end of header  -->
    <main>
        <!-- starting main -->
        <div class="main-section">
            <!-- <p>Your project</p> -->
            <div class="sub-section">
                <h1>Sohaib  Project</h1>
                <!-- here is icon -->
                <i></i>
            </div>
            <div class="sub-section"></div>
            <div class="sub-section"></div>
            <div class="sub-section"></div>
            <div class="sub-section"></div>
            <div class="sub-section"></div>
          

        </div>
    </main>
   
</body>
</html>