.col1of2{
    float: left;
    /* will postion the element  */
    width: 620px;
    /* will make the width  */
    margin: 10px;
    /* create a gap between it  */

}
.col3of4{
    float: right;
    width: 300px;
    margin-right:  300px;
}
.column1of3, .column2of3, .column3of3 {
    width: 300px;
    float: left;
    margin: 10px;}